body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
section{
    margin: 50px 0 50px 0;
}
/*---------------header area start here-------------- */
header {
  background-color: #f3f1f1;
}
header nav {
  width: 50%;
  margin: auto;
}

header nav ul {
  display: flex;
  margin-top: 0;
}
header ul li {
  list-style: none;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 15px;
}
header ul a {
  text-decoration: none;
  color: #000000;
}
/*---------------header area end here-------------- */

/*---------------section-one area start here-------------- */
.section-one, .section-two {
  display: flex;
  background-image: ;
}
.section-one-div, .section-two-div {
  width: 50%;
  padding: 50px 50px;
}
.section-one-img img{
  width: 75%;
}
.section-one-div h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 900;
  padding: 5px 0;
}
.section-one-div-h {
  margin-top: 100px;
  p
}
.section-one-div-h span{
    color: #FA944A;
}
.section-one-div-h p{
padding-right: 20%;
font: size 18px;
margin-bottom: 50px;
}
.section-one-div-h a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background-image: linear-gradient(#FA944A, #FC5331 );
    padding: 10px 25px;
    border-radius: 50px;
}
/*---------------*****************************section-one area end here--------------****************** */


/*---------------section-two area start here-------------- */

.section-two-img img {
    width: 50%;
    margin-left: 100px;
}
.section-two-div h1{
    margin: 100px 100px 0 0  ;
}
.section-two-div p{
    padding: 0 100px 50px 0;
}
.section-two-div a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background-image: linear-gradient(#FA944A, #FC5331 );
    padding: 10px 25px;
    border-radius: 50px;
}


/*---------------section-two area start here-------------- */
